{"gilhari_microservice_name": "gilhari_ecommerce",
 "jdx_orm_spec_file": "./config/ecommerce_template_postgres_docker.config.revjdx",
 "jdbc_driver_path": "/node/node_modules/jdxnode/external_libs/postgresql-42.7.5.jar",
 "jdx_debug_level": 3,
 "jdx_force_create_schema": "false",
 "jdx_persistent_classes_location": "./bin",
 "classnames_map_file": "config/classnames_map_ecommerce.js",
 "gilhari_rest_server_port": 8081
 }
