JDX_DATABASE JDX:jdbc:postgresql://host.docker.internal:5432/ecommerce;USER=postgres;PASSWORD=<password>;JDX_DBTYPE=POSTGRES;DEBUG_LEVEL=5
JDBC_DRIVER org.postgresql.Driver
JDX_OBJECT_MODEL_PACKAGE com.acme.ecommerce.model
JDX_SUPERCLASS_NAME com.softwaretree.jdx.JDX_JSONObject
JDX_GENERATE_ACCESSOR_METHODS FALSE
JDX_GENERATE_JSON_MAPPINGS TRUE
JDX_OUTPUT_DIRECTORY /opt/gilhari_ecommerce
CLASS_PREFIX JSON_
;
REM ************************************************************************

CLASS Supplier TABLE supplier
;

CLASS Product TABLE product
;

CLASS Customer TABLE customer
;

CLASS Address TABLE address
;

CLASS CustomerOrder TABLE customerorder
;

CLASS OrderItem TABLE orderitem
;
